{% extends 'layout.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1 class="flex justify-center text-3xl font-bold text-gray-800 mb-6 mt-6">Luis Ángel Jirón Chávez - 2019001</h1>
    <div class="flex items-center justify-center bg-gray-50">
        <div class="text-center">
          <p class="text-gray-600">La Universidad Iberoamericana de Ciencia y Tecnologia UNICIT POR CUANTO</p>
          <p class="text-gray-600">Luis Angel Jirón Chávez</p>
          <p class="text-gray-600">Natural de Nicaragua, con documento de identidad N°. 001-190201-1041X,</p>
          <p class="text-gray-600">ha aprobado en el mes de marzo del año 2023 los estudios y requisitos académicos, conforme el Plan de Estudio de la carrera de Licenciatura en Farmacia</p>
          <p class="text-gray-600 font-semibold">POR TANTO:</p>
          <p class="text-gray-600">Le extiende el TITULO de: LICENCIADO EN FARMACIA</p>
          <p class="text-gray-600">con las facultades y prerrogativas que legalmente le corresponden.</p>
          <p class="text-gray-600">Dado en la ciudad de Managua, República de Nicaragua, a los 24 días del mes de noviembre del año dos mil veintitrés.</p>
          <p class="text-gray-600"><strong>Firma ilegible</strong> Héctor Antonio Lacayo Hernández Rector,</p>
          <p class="text-gray-600"><strong>firma ilegible</strong> Wendy Aracelly Vela Córdoba Secretaría General</p>
          <p class="text-gray-600"> <strong>Registrado:</strong> Número 190. Folio 190. Tomo I del registro de títulos.</p>
          <p class="text-gray-600">En la Ciudad de Managua, el día 24 del mes de noviembre del año 2023.</p>
          <p    class="text-gray-600"><strong>Firma ilegible</strong> María Victoria Vasconcelos Henriquez Registro Académico.</p>
        </div>
      </div>
      
<div class="flex items-center justify-center mt-5">
  <div class="grid grid-cols-3 gap-4 text-center">
   
    <button onclick="location.href='/titulo_otorgado'" class="flex text-white rounded-md shadow-md p-0 overflow-hidden w-full bg-violet-500">
        <div class="flex items-center justify-center px-4 py-2 bg-violet-700">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z" />
            <path d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z" />
            <path d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z" />
          </svg>
        </div>
        
        <div class="flex items-center text-center justify-center px-4 py-2 bg-violet-500">
          <span class="font-bold">TÍTULO OTORGADO</span>
        </div>
      </button>

      <button onclick="location.href='/certificacion_titulo'"  class="flex text-white rounded-md shadow-md p-0 overflow-hidden w-full bg-violet-500">
        <div class="flex items-center justify-center px-4 py-2 bg-violet-700">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
              </svg>
              
              
        </div>
        
        <div class="flex items-center justify-center px-4 py-2 bg-violet-500">
          <span class="font-bold">CERTIFICACION DE TITULO</span>
        </div>
      </button>

      <button onclick="location.href='/publicacion_gaceta'" class="flex text-white rounded-md shadow-md p-0 overflow-hidden w-full bg-violet-500">
        <div class="flex items-center justify-center px-4 py-2 bg-violet-700">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="flex items-center justify-center px-4 py-2 bg-violet-500">

      <span class="font-bold">PUBLICACIÓN DE LA GACETA</span>
        </div>
    </button>

    <button class="flex text-white rounded-md shadow-md p-0 overflow-hidden w-full bg-violet-500">
        <div class="flex items-center justify-center px-4 py-2 bg-violet-700">        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5H5.625Z" />
            <path d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z" />
          </svg>
        </div>
          <div class="flex items-center justify-center px-4 py-2 bg-violet-500">

      <span class="font-bold">CERTIFICADO DE NOTAS</span>
          </div>
    </button>

    <button onclick="location.href='/acta_culminacion'" class="flex text-white rounded-md shadow-md p-0 overflow-hidden w-full bg-violet-500">
        <div class="flex items-center justify-center px-4 py-2 bg-violet-700">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M3 2.25a.75.75 0 0 1 .75.75v.54l1.838-.46a9.75 9.75 0 0 1 6.725.738l.108.054A8.25 8.25 0 0 0 18 4.524l3.11-.732a.75.75 0 0 1 .917.81 47.784 47.784 0 0 0 .005 10.337.75.75 0 0 1-.574.812l-3.114.733a9.75 9.75 0 0 1-6.594-.77l-.108-.054a8.25 8.25 0 0 0-5.69-.625l-2.202.55V21a.75.75 0 0 1-1.5 0V3A.75.75 0 0 1 3 2.25Z" clip-rule="evenodd" />
          </svg>
        </div>

        <div class="flex items-center justify-center px-4 py-2 bg-violet-500">
          
      <span class="font-bold">ACTA DE CULMINACIÓN</span>
        </div>
    </button>

    <button onclick="location.href='/plan_estudios'" class="flex text-white rounded-md shadow-md p-0 overflow-hidden w-full bg-violet-500">
        <div class="flex items-center justify-center px-4 py-2 bg-violet-700">      
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" />
              </svg>
              
        </div>

        <div class="flex items-center justify-center px-4 py-2 bg-violet-500">
            <span class="font-bold">PLAN DE ESTUDIOS</span>
      </div>
    </button>
  </div>
</div>

    
{% endblock %}
