{% extends 'layout.html' %}

{% block title %}Subir Documento{% endblock %}

{% block content %}
    <h1 class="text-center text-3xl font-bold text-gray-800 mb-6 mt-6">Subir documento para el estudiante {{ carnet }}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
            <label for="tipo_documento" class="block text-gray-700">Tipo de documento:</label>
            <select name="tipo_documento" id="tipo_documento" class="w-full px-4 py-2 border rounded">
                <option value="titulo_otorgado">Título Otorgado</option>
                <option value="certificacion_titulo">Certificación de Título</option>
                <option value="publicacion_gaceta">Publicación en Gaceta</option>
                <option value="acta_culminacion">Acta de Culminación</option>
                <option value="plan_estudios">Plan de Estudios</option>
                <option value="certificado_notas">Certificado de Notas</option>
            </select>
        </div>

        <div class="mb-4">
            <label for="archivo" class="block text-gray-700">Selecciona el archivo PDF:</label>
            <input type="file" name="archivo" id="archivo" class="w-full px-4 py-2 border rounded">
        </div>

        <input type="hidden" name="carnet" value="{{ carnet }}">
        
        <div class="mb-4">
            <button type="submit" class="btn btn-primary">Subir documento</button>
        </div>
    </form>
{% endblock %}
